@import './header.css';
@import './footer.css';
@import './subscribeWrap.css';
@import './single_page.css';

*   {
    margin: 0;
    padding: 0;
}

body {
    color: #222222;
    font-family: 'Lato', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: auto;
}

.newArrivalsWrap {
    height: 150px;
    background: #f8f3f4;
}

.newArrivals {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.newArrivals h1 {
    margin: 0;
    font-weight: 600;
    color: #f16d7f;
}

.newArrivals nav a {
    text-decoration: none;
    color: #636363;
}

.newArrivals nav a:hover {
    color: #f16d7f;
}

.newArrivals nav a:last-child {
    font-weight: 700;
    color: #f16d7f;
}

.product-frame {
    width: 261px;
    height: 364px;
    }
.productImgWrap {
        height: 280px;
        position: relative;
    }
    
.productBuy {
        height: inherit;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: absolute;
    }
    
.product-frame:hover .productBuy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
.productBuy button {
        padding: 15px;
        border: 1px solid #ffffff;
        background: none;
        color: white;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
        
.product-img{
        width: 261px;
        height: 279px;
        position: absolute;
    }
    
.product-text {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 17px 14px;
    }
    
.price {
       color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
        margin-left: 14px
    }
    
    
.product-frame:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }
    
.product-button {
         margin-top: 79px;
             display: flex;
        justify-content: center;
    }